## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

# Dados Randomicos

In [2]:
np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos_mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos_por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_his'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_qui'])

# Explorando os dados

In [3]:
dfs = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1) #concatenando os DF randomicos das materias 
nomes_colunas = ['Matemática', 'Português', 'Geografia', 'Inglês', 'História', 'Física', 'Quimica'] #renomeando as colunas 
dfs.columns=nomes_colunas

num_questoes = {'Matemática': 24, 'Português': 18, 'Geografia': 8, 'Inglês': 8, 'História': 8, 'Física': 12, 'Quimica': 12} #criando uma tupla com o numero de questões
questoes_sum = sum(num_questoes.values()) #somando total de questões

In [4]:
novo_index = [f'Aluno_{i+1}'for i in range(len(dfs))] #renomeando o index para cada aluno 
dfs.index = novo_index
dfs

           Matemática  Português  Geografia  Inglês  História  Física  Quimica
Aluno_1             6          7          7       3         1       8        3
Aluno_2            19         10          0       0         0      11        8
Aluno_3            14         16          0       5         7       4        4
Aluno_4            10          7          3       4         0       0        8
Aluno_5             7          2          2       7         0       9        3
...               ...        ...        ...     ...       ...     ...      ...
Aluno_96            6          4          7       1         4       9        3
Aluno_97            8          1          4       6         1       4        3
Aluno_98           23          5          0       2         4       1        5
Aluno_99            0         10          3       1         5      10       11
Aluno_100          11         15          0       1         6       7        2

[100 rows x 7 columns]

## Exercício 1.1

In [5]:
# 1) Seu código aqui
#codigo para concatenar o percentual de acerto para cada aluno

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  12
pc_qui = df_qui /  12

dfs_pc = pd.concat([pc_mat, pc_por, pc_geo, pc_ing, pc_his, pc_fis, pc_qui], axis=1) #concatenando o percentual de acerto para cada aluno
nomes_colunas_nova = ['% Matemática', '% Português', '% Geografia', '% Inglês', '% História', '% Física', '% Quimica'] #renomeando colunas
dfs_pc.columns=nomes_colunas_nova #nome colunas
dfs_pc.index = novo_index #nome index
dfs_pc.head()

,% Matemática,% Português,% Geografia,% Inglês,% História,% Física,% Quimica
Aluno_1,0.250000,0.388889,0.875,0.375,0.125,0.666667,0.250000
Aluno_2,0.791667,0.555556,0.000,0.000,0.000,0.916667,0.666667
Aluno_3,0.583333,0.888889,0.000,0.625,0.875,0.333333,0.333333
Aluno_4,0.416667,0.388889,0.375,0.500,0.000,0.000000,0.666667
Aluno_5,0.291667,0.111111,0.250,0.875,0.000,0.750000,0.250000

## Exercício 1.2

In [6]:
# 2) Seu código aqui
#codigo que soma as notas dos alunos e adiciona em uma nova coluna

dfs['Total'] = dfs.sum(axis=1) 
dfs.head()

,Matemática,Português,Geografia,Inglês,História,Física,Quimica,Total
Aluno_1,6,7,7,3,1,8,3,35
Aluno_2,19,10,0,0,0,11,8,48
Aluno_3,14,16,0,5,7,4,4,50
Aluno_4,10,7,3,4,0,0,8,32
Aluno_5,7,2,2,7,0,9,3,30

## Execício 1.3

In [7]:
# 3) Seu código aqui
# codigo que adicionando uma nova coluna com o % total de acertos de cada aluno 

dfs['% Total Acertos'] = dfs['Total'] / questoes_sum * 100 
dfs.head()

,Matemática,Português,Geografia,Inglês,História,Física,Quimica,Total,% Total Acertos
Aluno_1,6,7,7,3,1,8,3,35,38.888889
Aluno_2,19,10,0,0,0,11,8,48,53.333333
Aluno_3,14,16,0,5,7,4,4,50,55.555556
Aluno_4,10,7,3,4,0,0,8,32,35.555556
Aluno_5,7,2,2,7,0,9,3,30,33.333333

## Exercício 1.4

In [8]:
# 4) Seu código aqui
# codigo que aplica uma função a cada linha e retorna se o aluno passou de fase 45 ou mais, ou reprovou 44 para baixo.

fase_um = dfs['Total'].apply(lambda x: 'Aprovado' if x >= 45 else 'Reprovado') 
dfs['1º Fase'] = fase_um
dfs.head()

,Matemática,Português,Geografia,Inglês,História,Física,Quimica,Total,% Total Acertos,1º Fase
Aluno_1,6,7,7,3,1,8,3,35,38.888889,Reprovado
Aluno_2,19,10,0,0,0,11,8,48,53.333333,Aprovado
Aluno_3,14,16,0,5,7,4,4,50,55.555556,Aprovado
Aluno_4,10,7,3,4,0,0,8,32,35.555556,Reprovado
Aluno_5,7,2,2,7,0,9,3,30,33.333333,Reprovado

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

## Exercício 2.1 e 2.4

In [9]:
# seu código aqui
# codigo que aplica em cada linha uma função de condicionamento, onde quem tem mais 45 pontos e não zerou em Mat/Qui/Fis estão aprovados

dfs['2º Fase'] = dfs.apply(lambda row: 'Aprovado' if(row['Total'] >= 45 and row['Matemática'] > 0 and row['Física'] > 0 and row['Quimica'] > 0) else 'Reprovado', axis=1)
dfs.head()

,Matemática,Português,Geografia,Inglês,História,Física,Quimica,Total,% Total Acertos,1º Fase,2º Fase
Aluno_1,6,7,7,3,1,8,3,35,38.888889,Reprovado,Reprovado
Aluno_2,19,10,0,0,0,11,8,48,53.333333,Aprovado,Aprovado
Aluno_3,14,16,0,5,7,4,4,50,55.555556,Aprovado,Aprovado
Aluno_4,10,7,3,4,0,0,8,32,35.555556,Reprovado,Reprovado
Aluno_5,7,2,2,7,0,9,3,30,33.333333,Reprovado,Reprovado

## Exercício 2.3

### Para esse vestibular foram aprovados um total de 29 alunos de 100.

In [10]:
desqualificados = dfs[(dfs['Matemática']) == 0 | (dfs['Física'] == 0) | (dfs['Quimica'] == 0)]

num_aprovados = dfs['2º Fase'].value_counts().get('Aprovado', 0)
num_reprovados = dfs['2º Fase'].value_counts().get('Reprovado', 0)
print(f'{num_aprovados} alunos aprovados')
print(f'{num_reprovados} alunos reprovados')

29 alunos aprovados
71 alunos reprovados

In [11]:
media_desqualificados_his = round(desqualificados['História'].mean(), 2)
media_desqualificados_geo = round(desqualificados['Geografia'].mean(), 2)

print('Média dos alunos reprovados nas 8 questões de história: {}.'.format(media_desqualificados_his))
print('Média dos alunos reprovados nas 8 questões de Geografia: {}.'.format(media_desqualificados_geo))

Média dos alunos reprovados nas 8 questões de história: 2.4.
Média dos alunos reprovados nas 8 questões de Geografia: 3.2.

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [12]:
import pandas as pd 
import numpy as np

## Explorando os dados

In [13]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-0fed2f29-2b33-4ec6-92b6-de2a21bfe2af.c000.csv'

In [14]:
df = pd.read_csv(arquivo, sep=';')

In [15]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,b98c7e0e-1509-4a85-a00a-f3c5701fa405-i0b0,797a286df3fd44216ddbf9b087122357161026bb13e1ce...,7,2015-06-10,M,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FN4073,PFIZER - PEDI?TRICA,28290,2022-06-21,2ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
1,9fe8d79d-890b-4c54-9011-d9e6a4699b57-i0b0,767414cd628822d3c1f7e22e5d3f45172245ca9e2bbd61...,22,1999-05-12,M,3,PARDA,120017.0,10.0,CAPIXABA,...,2.0,Faixa Etária,28230BD,PFIZER,Organization/00394544000851,2021-09-14,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,b63af233-21d8-4af7-9aa9-3f8ff6285753-i0b0,3fdd86b8842269eda2dd906eb0aa15473ae1b5f8e64f1c...,49,1972-03-16,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,9ff86aad-dbc2-41d8-8623-f1830d05fec9-i0b0,eceac51ca6f212c5a2c747677c9d1e857056354168ee85...,36,1987-01-06,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,GJ5106,PFIZER,28290,2023-05-08,Reforço,103,COVID-19 PFIZER - COMIRNATY BIVALENTE,Novo PNI
4,ad099eee-6582-4fa0-ac02-c520237d7eed-i0b0,f56c5670b9907b8ca51387a37b67dfe41a203b3688bbe1...,20,2001-01-15,M,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,7.0,Povos Indígenas,219VCD268W,ASTRAZENECA/FIOCRUZ,Organization/149,2022-01-12,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [16]:
# código para correção e tratamento de dados

# lista com valores errados
valores_para_substituir_pfizer = ['PFIZER - PEDI?TRICA', 
                         'PFIZER - PEDIÁTRICA MENOR DE 5 ANOS', 
                         'PFIZER - PEDIÁTRICA', 
                         'PFIZER MANUFACTURING BELGIUM NV - BELGICA'] 
valores_para_substituir_butantan = ['SINOVAC/BUTANTAN']
valores_para_substituir_astrazenica = ['ASTRAZENECA/FIOCRUZ']

# substituindo valores
df.loc[df['vacina_fabricante_nome'].isin(valores_para_substituir_pfizer), 'vacina_fabricante_nome'] = 'PFIZER'
df.loc[df['vacina_fabricante_nome'].isin(valores_para_substituir_butantan), 'vacina_fabricante_nome'] = 'BUTANTAN'
df.loc[df['vacina_fabricante_nome'].isin(valores_para_substituir_astrazenica), 'vacina_fabricante_nome'] = 'ASTRAZENECA'

# decidir por tratar os valores sem nome de fabricante por NaN, pois se tratam de 8845 mil, causando relevancia a analise.
# esse código soma os fabricantes sem nome
valores_filtrados = df['vacina_fabricante_nome'].isin(['Pendente Identifica??o', 'Pendente Identificação']).sum()

# substituindo valores
valores_substituir_sem_nome = ['Pendente Identifica??o', 'Pendente Identificação']
df.loc[df['vacina_fabricante_nome'].isin(valores_substituir_sem_nome), 'vacina_fabricante_nome'] = np.nan

df['vacina_fabricante_nome'].unique()

array(['PFIZER', 'ASTRAZENECA', 'BUTANTAN', 'JANSSEN', nan, 'SINOVAC'],
      dtype=object)

In [17]:
# código que troca o 'nome' do passiente para mais facil visualização 
#df_passiente = [f'Passiente_{i+1}' for i in range(len(df))]  
#df['paciente_id'] = df_passiente
#df.head()

In [18]:
df.shape[0]

389757

## Exercício 1.1

### Foram 6 vacinas distribuidas, sendo elas: PFIZER, ASTRAZENECA, BUTANTAN, JANSSEN e SINOVAC.

In [19]:
# 1) Sua solução aqui

quantidade_vacinas = df['vacina_fabricante_nome'].nunique()
#nome_fabricante = df['vacina_fabricante_nome'].dropna().unique()
nome_fabricante = df['vacina_fabricante_nome'][df['vacina_fabricante_nome'] != 'NaN'].unique()
print(f'Foram {quantidade_vacinas} vacinas distribuidas, sendo elas:{nome_fabricante}.')

Foram 5 vacinas distribuidas, sendo elas:['PFIZER' 'ASTRAZENECA' 'BUTANTAN' 'JANSSEN' nan 'SINOVAC'].

## Exercício 1.2

### Foram distribuidos cerca de 390 mil vacinas

In [20]:
# 2) Sua solução aqui
df['paciente_id'].nunique()

318176

## Exercício 1.3

### Foram vacinados com a 1º dose, cerca de 163 mil pessoas

In [21]:
# 3) Sua solução aqui
# Para analise completa, entendi que 'Única' se trata tambem da 1º dose

df['vacina_descricao_dose'].isin(['1ª Dose', 'Única']).sum()
#df['vacina_descricao_dose'].unique()

162654

## Exercício 1.4

### Cerca de 3 mil passientes com menos de 18 anos foram vacinados.

In [22]:
# 3) solução alternativa
# código que busca e soma os valores distintos no DataFrame 

menores_18 = df['paciente_idade'].isin(df['paciente_idade'] < 18).sum()
print(menores_18)

2993

## Exercício 1.5

### Cerca de 1600 municipios foram contabilizados sendo alguns deles: RIO BRANCO, CAPIXABA, MARECHAL, THAUMATURGO, SOLEDADE...'

In [23]:
# 4) solução alternativa
# código que busca e soma os valores distintos no DataFrame 

num_municipios_distintos = df['paciente_endereco_nmMunicipio'].nunique()
soma_valores_unicos = df['paciente_endereco_nmMunicipio'].unique()

print(f'Foram cerca de {num_municipios_distintos} municipios participantes, sendo eles {soma_valores_unicos}.')

Foram cerca de 1536 municipios participantes, sendo eles ['RIO BRANCO' 'CAPIXABA' 'MARECHAL THAUMATURGO' ... 'SOLEDADE'
 'SAO GERALDO DO BAIXIO' 'NOVA ROSALANDIA'].

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

## Exercício 1.6

In [30]:
# 1) solução alternativa
df_menor = df[df["paciente_idade"]<18].copy()
df_menor.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,b98c7e0e-1509-4a85-a00a-f3c5701fa405-i0b0,797a286df3fd44216ddbf9b087122357161026bb13e1ce...,7,2015-06-10,M,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FN4073,PFIZER,28290,2022-06-21,2ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
6,a8653b73-75a7-4d58-92f6-846f1ab48980-i0b0,58b6681a766949cd392f7df765cc2a16fc9996a0f44f6d...,4,2018-09-17,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,220299,BUTANTAN,152,2023-01-24,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
10,be326d7c-dcde-400e-a701-b4ffed4039fe-i0b0,a7debef33553c6eabb36cd08eb6592761ef81e63766587...,12,2009-12-29,M,3,PARDA,352050.0,10.0,INDAIATUBA,...,2.0,Faixa Etária,220250,BUTANTAN,152,2022-11-10,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
12,e590a0b2-dc59-49e0-a6c2-115e9410cf2c-i0b0,ccd2911169a073c71cd7144800c81c6391ad43c31df97f...,12,2010-02-09,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FP8290,PFIZER,28290,2022-03-21,2ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
23,a10284f1-d5ac-43ce-8a4f-62e902699a8c-i0b0,1fef12579308967e86fcbf4615a3b28daa72b3b8952073...,13,2007-10-22,F,3,PARDA,120025.0,10.0,EPITACIOLANDIA,...,2.0,Faixa Etária,FD7208,PFIZER,Organization/00394544000851,2021-09-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

## Exercício 1.7

In [32]:
# 2) solução alternativa
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

## Exercício 1.8

In [33]:
# 3) solução alternativa
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      48567
Povos Indígenas                                    4823
Outros                                             3755
Povos e Comunidades Tradicionais                    874
Trabalhadores de Saúde                              264
Comorbidades                                         57
População Privada de Liberdade                       53
Gestantes                                            46
Trabalhadores da Educação                            14
Trabalhadores de Transporte                          13
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

## Exercício 1.9

In [42]:
# 4) solução alternativa

df_menor_lista = df['paciente_endereco_nmMunicipio']

## Exercício 2.0

In [43]:
# 5) solução alternativa
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(1537,)